sffetch/src/main/mule/sffetch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9c1d963e-cb8e-4a52-951c-4f76e0497fd6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="e74c0881-fc60-4040-9fdb-c2a33f884e26" >
		<salesforce:basic-connection username="nagamani@wipro.com" password="Mehernaga@123" securityToken="cIwURe94dBM0GgK3smvzgXHaI" />
	</salesforce:sfdc-config>
	<flow name="sffetchFlow" doc:id="fd5e5d4e-f3d0-4d94-ac83-8084de77b898" initialState="started">
		<http:listener doc:name="Listener" doc:id="072e6b02-8835-49df-8438-18ef0232eaf7" config-ref="HTTP_Listener_config" path="sffetch"/>
		<salesforce:query doc:name="Query" doc:id="9d838cbc-b22b-4b38-ac6d-57be905f9f41" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select LastName,Email from Contact]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="d9ed320e-c454-45a9-8704-306524dbd5c5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5fd2c74b-278b-4579-a864-e1c48f528ca2" message="#[payload]"/>
	</flow>
</mule>
